
html {
    /* background-color: #151815; */
    height: 100%;

    background: #1b281b url(pictures/main-background.png) repeat left;
}

body {
    font-family: 'Calibri';
    font-size:18px;
    display: flex;
    margin: 0;
}

#container {
    background-color: #121c12; 
    margin:0 auto;

    display: flex;
    flex-direction: column;
    border: groove 0.2em #089c08;
}

#header {
    /* background-color: #121c12; */
    background: rgb(5, 36, 5) url(pictures/main-background.png) repeat left;
    color: #d9f5d9;
    text-align: left;
    font-size: 1.5em;

    padding: 0em 2em 1em 2em;
    height: auto;
    
    border: 0.14em solid #1b281bdd;
    /* border-radius: 0.5em; */
}

#logo-section {
    width: 100%;
}

#logo {
    width: 100%;
    height: auto;
}

#nav {
    background-color: #121c12;
    
    /* padding: 0.5em; */
    /* margin-bottom: 0.2em;
    margin-top: 0.2em; */

    border-top: 0.12em solid #037203; 
    border-bottom: 0.12em solid #037203; 
    padding-left: 0.25em;
    /* border-radius: 0.5em; */
}

#nav ul {
    list-style-type: none;
    text-align: left;

    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 0em;
}

#nav li a {
    display: inline-block;
    background-color: #023b02a6;
    transition: background-color 0.2s;
    color: #66CC00;
    text-decoration: none;
    font-size: 1.8em;

    padding: 0.625em;
    margin: 0.1em 0 0.1em 0;

    border: 0.09em groove #089c08;
}

#nav li a:hover {
    background-color: #037203;
}

#content {
    display: flex;
    flex-grow: 1;
}

#right-column {
    /*background-color: #121c12;*/
    background-color: #121c12;
    width: 15em;
    
    padding-top:2em;
    /* padding: 0.5em; */
    /* margin-left: 0.2em; */

    border-left: 0.12em solid #089c08;
    /* border-radius: 0.5em; */
}

#right-column a {
    display: block;
    text-decoration: none;
    color: #d9f5d9;

    background: linear-gradient(120deg, #1b281bdd, #037203);

    margin:0.2em;
    margin-bottom: 0.625em;
}

#right-column a:hover {
    color: #66CC00; 
    background:#1b281bdd;
    transition: color 0.1s ease;
}

#right-column p {
    margin: 0.5em;
}

#right-column h3 {
    color:#66CC00;
    margin-top:0.5em;
    background: linear-gradient(120deg, #037203, #1b281bdd, #037203);
    text-align:center;
    box-shadow: 0 0.2em 0.2em 0 #089c08;
    border-top: 0.14em solid #089c08;
    /* border-radius: 0.5em; */
    
    /* box-shadow: 0 0.6em 0.6em 0 #089c08; */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* border: 0.4px solid #089c08; */
}

.right-column-section {
    color:#d9f5d9;
    
    width:auto;
    height:auto;
    padding:0.1em 0.5em 0.1em 0.5em;
    margin:0 0 0.5em 0;
    
    /* box-shadow: 0 0.2em 0.2em 0 #089c08; */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* border: 0.14em solid #089c08; */

}

#articles {
    flex-grow: 1;
    background-color: #131d13;

    padding: 1.25em 1.25em;

    border: 0.14em solid #1b281bdd;
    /* border-radius: 0.5em; */
}

#articles a {
    color: #66CC00;
}

#articles h2 {
    margin-top:0;
    color: #66CC00;
}

#footer {
    background-color: #121c12;
    color: #d9f5d9;
    text-align: center;

    padding: 1em;
    /* margin-top: 0.2em; */

    border-top: 0.12em solid #089c08; 
    /* border-radius: 0.5em; */
}

article {
    box-sizing: border-box;
    
    color: #d9f5d9;
    background-color:#172417;

    font-size: 1.2em;

    margin-bottom: 1.875em;
    padding: 1.875em 3.75em;
    
    box-shadow: 0px 3px 8px -4px #010e01;

    /* border: 0.15em solid #089c08;
    border-radius: 0.5em; */
}

code {
    display: block;
    font-size: 9.5pt;
    background: #2a2855;
    line-height: 12pt;

    padding: 0.63em;
    
    border: 1px solid #56538c;
}

audio {
    height:2em;
    width:100%;
    padding:0.2em 0;
}

